#date-wrap {
  position: relative;
}
#date-wrap:before {
  content: "";
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/icons/HOME_dropdown arrow.svg") center/contain no-repeat;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease-in-out;
}
#date-wrap #when {
  color: #676768;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  display: block;
}
#date-wrap .datepicker-dropdown {
  width: 100%;
  left: 0 !important;
  padding: 30px 30px 20px 30px;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#date-wrap .datepicker-dropdown:before {
  display: none !important;
}
#date-wrap .datepicker-dropdown:after {
  position: absolute;
  left: 40px;
  top: 10px;
  width: calc(100% - 80px);
  background: #FB9D22;
  height: 5px;
  display: block;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
}
#date-wrap .datepicker-dropdown .table-condensed thead tr:last-of-type {
  border-top: 1px solid rgba(251, 157, 34, 0.5);
  border-bottom: 1px solid rgba(251, 157, 34, 0.5);
}
#date-wrap .datepicker-dropdown .table-condensed thead .datepicker-switch {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}
#date-wrap .datepicker-dropdown .table-condensed tbody tr td {
  font-size: 18px;
  color: #676768;
}

.filter-option-inner-inner {
  color: #676768;
  font-size: 24px;
  font-weight: bold;
}

.testimonials__two {
  padding: 75px 0 0 0;
  margin-bottom: -165px;
}
@media (max-width: 768px) {
  .testimonials__two {
    padding: 35px 0 0 0;
    margin-bottom: 0;
  }
}
.testimonials__two--inner {
  height: 550px;
  width: 100%;
  background: url("../images/foto/SOC_23.jpg") center/cover no-repeat;
}
@media (max-width: 768px) {
  .testimonials__two--inner {
    height: 332px;
  }
}
.testimonials__two .testimonials-slick {
  transform: translateY(-99%);
  width: 400px;
  background: white;
  margin-left: 75px;
  margin-bottom: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
}
@media (max-width: 768px) {
  .testimonials__two .testimonials-slick {
    transform: translateY(-15%);
    margin-left: 25px;
    margin-right: 25px;
    width: auto;
  }
}
.testimonials__two .testimonials-slick .single-slick {
  padding: 35px 50px 50px 50px;
}
@media (max-width: 768px) {
  .testimonials__two .testimonials-slick .single-slick {
    padding: 25px 35px 35px 35px;
  }
}
.testimonials__two .testimonials-slick .single-slick img {
  margin-bottom: 15px;
  width: 40px;
  height: auto;
}
.testimonials__two .testimonials-slick .single-slick p {
  font-size: 18px;
  line-height: 20px;
  color: #676768;
  font-weight: 400;
  font-family: "Barlow Condensed", sans-serif;
}
.testimonials__two .testimonials-slick .single-slick h4 {
  font-size: 16px;
  font-weight: bold;
}
.testimonials__two .testimonials-slick .single-slick h4 span {
  font-weight: normal;
}
.testimonials__two .testimonials-slick .slick-dots {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: auto;
}
@media (max-width: 768px) {
  .testimonials__two .testimonials-slick .slick-dots {
    bottom: unset;
    left: unset;
    top: 15px;
    right: 15px;
  }
}
.testimonials__two .testimonials-slick .slick-dots li button:before {
  content: "";
  background: #FB9D22;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/*# sourceMappingURL=custom_css.css.map */
